@model DataTable
@using System.Data
<main id="main" class="main">
    <h4 class="text-center">Order Table</h4>
    <div class="px-2 d-flex flex-column gap-2">
        <a asp-controller="Order" asp-action="DataToExcel">
            <button type="button" class="btn btn-success btn-end"><i class="bi bi-file-earmark-excel"></i> Export to Excel</button>
        </a>
        <a asp-controller="Order" asp-action="OrderForm">
            <button type="button" class="btn btn-primary btn-end"><i class="bi bi-plus-lg"></i> Add Data</button>
        </a>
    </div>
    <span class="text-danger">@TempData["ErrorMessage"]</span>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">OrderID</th>
                <th scope="col">OrderDate</th>
                <th scope="col">CustomerName</th>
                <th scope="col">PaymentMode</th>
                <th scope="col">TotalAmount</th>
                <th scope="col">ShippingAddress</th>
                <th scope="col">UserName</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow order in Model.Rows)
            {
                <tr>
                    <td>@order["OrderID"]</td>
                    <td>@order["OrderDate"]</td>
                    <td>@order["CustomerName"]</td>
                    <td>@order["PaymentMode"]</td>
                    <td>@order["TotalAmount"]</td>
                    <td>@order["ShippingAddress"]</td>
                    <td>@order["UserName"]</td>
                    <td style="display:flex; flex-direction:row; gap:.5rem">
                        <a class="btn btn-outline-success btn-xs" asp-controller="Order" asp-action="OrderForm" asp-route-OrderID="@order["OrderID"]">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <form method="post" asp-controller="Order" asp-action="OrderDelete">
                            <input type="hidden" name="OrderID" value="@order["OrderID"]" />
                            <button type="submit" class="btn btn-outline-danger btn-xs" onclick="return confirm('Are you sure you want to delete this User?');">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>
