@model IEnumerable<Product_Management_System.Models.StateModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Data
@{
    ViewData["Title"] = "State List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>State List</h1>
        <div class="px-2 d-flex flex-column gap-2">
            <div class="d-flex justify-content-end align-items-center">
                <a class="btn btn-outline-primary" asp-controller="State" asp-action="DataToExcel">
                    Export Data
                </a>
            </div> @* --DataToExcel *@
            <div class="d-flex justify-content-end align-items-center">
                <a class="btn btn-outline-primary" asp-controller="State" asp-action="StateForm">
                    <i class="bi bi-plus-lg"></i>&nbsp;Add State
                </a>
            </div>@* --AddButton *@
        </div>
    </div><!-- End Page Title -->

    @if (TempData["StateInsertMsg"] != null)
    {
        <div class="alert alert-success">
            @TempData["StateInsertMsg"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="mb-3">
        <input type="text" class="form-control" id="StateSearch" placeholder="Search Any">
    </div>

    <table class="table table-hover table-header-fixed">
        <thead>
            <tr>
                <th scope="col">State Name</th>
                <th scope="col">State Code</th>
                <th scope="col">Country Name</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody id="StateTable">
            @foreach (var row in Model)
            {
                <tr>
                    <td>@row.StateName</td>
                    <td>@row.StateCode</td>
                    <td>@row.CountryName</td>
                    <td class="text-center">
                        <a class="btn btn-outline-success btn-xs" asp-controller="State" asp-action="StateForm" asp-route-StateID="@row.StateID">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a class="btn btn-outline-danger btn-xs" asp-controller="State" asp-action="StateDelete" asp-route-StateID="@row.StateID" onclick="return confirm('Are you sure you want to delete this State?');">
                            <i class="bi bi-x"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#StateSearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#StateTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
}
