@model IEnumerable<Product_Management_System.Models.CountryModel>
@using System.Data
@{
    ViewData["Title"] = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Country List</h1>
        <nav>
            @* <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a asp-controller="HomeMaster" asp-action="Index">
            <i class="fa fa-home"></i>
            </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Country List</li>
            </ol> *@
        </nav>
        <div class="px-2 d-flex flex-column gap-2">
            <div class="d-flex justify-content-end align-items-center">
                <a class="btn btn-outline-primary" asp-controller="Country" asp-action="DataToExcel">
                    Export Data
                </a>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <a class="btn btn-outline-primary" asp-controller="Country" asp-action="CountryForm">
                    <i class="bi bi-plus-lg"></i>&nbsp;Add Country
                </a>
            </div>
        </div>
    </div><!-- End Page Title -->
    @if (TempData["CountryInsertMsg"] != null)
    {
        <div class="alert alert-success">
            @TempData["CountryInsertMsg"]
        </div>
    }

    <div class="mb-3">
        <input type="text" class="form-control" id="CountrySearch" placeholder="Search Any">
    </div>

    <table class="table table-hover table-header-fixed">
        <thead>
            <tr>
                <th scope="col">Country Name</th>
                <th scope="col">Country Code</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody id="CountryTable">
            @foreach (var row in Model)
            {
                <tr>
                    <td>@row.CountryName</td>
                    <td>@row.CountryCode</td>
                    <td class="text-center">
                        <a class="btn btn-outline-success btn-xs" asp-controller="Country" asp-action="CountryForm" asp-route-CountryID="@row.CountryID">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a class="btn btn-outline-danger btn-xs" asp-controller="Country" asp-action="CountryDelete" asp-route-CountryID="@row.CountryID" onclick="return confirm('Are you sure you want to delete this Country?');">
                            <i class="bi bi-x"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#CountrySearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#CountryTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
}
